.yarn/**
.vscode/**
.claude/**
.env
.env.production
.env.development
doc/**
js/**
test-results/**
node_modules/**
releases/**
resources/**
build/**
out/**
dist/**
public/**
desktop.ini
CLAUDE.md
kontenmanager@gmx.de/**
